.advant__container {
  padding: 60px 15px;
}
.advantages {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  justify-content: center;

  &__item {
    @media (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-top: 30px;
      margin-left: 30px;
    }

    @media (min-width: 1200px) {
      flex-basis: calc(100% / 4 - 30px);
      margin-top: 30px;
      margin-left: 30px;
    }
  }
  &__item:not(:last-child) {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &__icon {
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-color: $background-color-teams;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: $black-text;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__text {
    color: $gray-text;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
